# Ignore build binaries
*.so
*.dll
*.exe
*.ilk
*.pdb
examples/*
!examples/*.*
fmt_verify_all

# Ignore editor files
*.code-workspace
.lite_workspace.lua

# Other files
fns.txt

# To develop examples inside ui folder
examples/modules
devel
