# Ignore build binaries
*.so
*.dll
*.dylib
*.exe
*.ilk
*.pdb

# All sub-level build binaries
*/**/*
!*/**/*/
!*/**/*.*

# Common editor/system specific metadata
.DS_Store
.idea
.vscode
*.code-workspace
.lite_workspace.lua
ui.iml
*~
*#

# Other files
fns.txt
screenshot*.png
screenshot*.svg

# To develop examples inside ui folder
devel
