fns.txt
examples/**.exe
examples/**.dll
examples/calculator/calculator
examples/counter/counter
examples/dropdown/dropdown
examples/slider/slider
examples/temperature/temperature
examples/timer/timer
examples/transitions/transitions
examples/users/users
