name: Graphics CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  ui-regressions:
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    env:
      VFLAGS: -cc tcc
      DISPLAY: :99
      VUI_FONT: /usr/share/fonts/truetype/inconsolata/Inconsolata.otf
    steps:
      - name: Checkout V
        uses: actions/checkout@v2
        with:
          repository: vlang/v
      - name: Checkout V UI
        uses: actions/checkout@v2
        with:
          path: vlib/ui
      - name: Build V
        run: make -j4

      - name: Setup dependencies
        run: |
          # xvfb                     : xvfb (installed by openrndr/setup-opengl@v1.1)
          # openimageio-tools        : idiff
          # libxcursor-dev libxi-dev : V gfx deps
          # mesa-common-dev          : For headless rendering
          # freeglut3-dev            : Fixes graphic apps compilation with tcc
          sudo apt-get install imagemagick openimageio-tools mesa-common-dev libxcursor-dev libxi-dev freeglut3-dev fonts-inconsolata
          wget https://raw.githubusercontent.com/tremby/imgur.sh/c98345d/imgur.sh
          chmod +x ./imgur.sh
          ls -lart $VUI_FONT

      - uses: openrndr/setup-opengl@v1.1
      - uses: actions/checkout@v2
        with:
          repository: Larpon/ui-regression-images
          path: ui-regression-images

      - name: Sample and compare
        id: compare
        continue-on-error: true
        run: |
          Xvfb $DISPLAY -screen 0 1280x1024x24 &
          ./v gret -r vlib/ui -t ./ui-regression-images/vgret.ui_examples.toml -v ./ui-sample_images ./ui-regression-images

      - name: Upload regression to imgur
        if: steps.compare.outcome != 'success'
        run: |
          ./imgur.sh /tmp/fail.png
          exit 1
